.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

nav a {
  display: flex;
  justify-content: center;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: flex !important;
  justify-content: center;
}

.chart-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-top: 1rem;
}
